<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop | Funkoshop</title>
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="stylesheet" href="../../css/pages/shop/shop.css" />
  </head>
  <body>
    <!-- /pages/shop/shop.html -->
    <!-- Inicio Header -->
    <%- include('../partials/header.ejs') %>
    <!-- Fin Header -->
    <!-- Inicio Main -->
    <main class="container-shop">
      <section class="filter">
        <form action="" class="filter__form">
          <label class="paragraph" for="search">BUSCAR</label>
          <input class="filter__input" type="text" id="search" name="search" placeholder="item o categoría"/>
          <label class="paragraph" for="sort-by">ORDENAR POR</label>
          <select class="filter__input" name="sort-by" id="sort-by">
            <option value="" selected>Mayor a menor</option>
            <option value="">Menor a mayor</option>
          </select>
          <p class="paragraph">PRECIO</p>
          <div class="filter__price">
            <label class="price__change" for="min">MIN</label>
            <input class="price__box" type="number" id="min" name="min" placeholder="0" />
            <p class="price__change">-</p>
            <label class="price__change" for="max">MAX</label>
            <input class="price__box" type="number" id="max" name="max" placeholder="0" />
          </div>
          <div class="filter__check">
            <p class="paragraph" for="filter__checkbox">FILTRAR</p>
            <label class="checkbox__selected" for="new"><input type="checkbox" class="checkbox__chekings" id="new" name="new" /> NUEVOS</label><br>
            <label class="checkbox__selected" for="offers"><input type="checkbox" class="checkbox__chekings" id="offers" name="offers" /> OFERTAS</label><br>
            <label class="checkbox__selected" for="special-edition"><input type="checkbox" class="checkbox__chekings" id="special-edition" name="special-edition" /> EDICIÓN ESPECIAL</label><br>
            <label class="checkbox__selected" for="favorites"><input type="checkbox" class="checkbox__chekings" name="favorites" id="favorites" /> FAVORITOS</label><br>
          </div>
        </form>
      </section>
      <section class="products">
        <section class="items">
          <ul class="card">
            <% data.forEach( item => { %>
            <li class="card-items">
              <article class="card-item">
                <a class="card-item__link" href="/shop/item/<%= item.product_id %>">
                  <picture class="card-item__cover">
                    <span class="card-item__tag">Nuevo</span>
                    <img
                      class="card-item__img--front"
                      src="<%= item.img_front %>"
                      alt="Figura coleccionable Funko de un Stormtrooper"
                    />
                    <img
                      class="card-item__img--back"
                      src="<%= item.img_back %>"
                      alt="Figura coleccionable Funko de un Stormtrooper en caja"
                    />
                  </picture>
                  <div class="card-item__content">
                    <p class="card-item__licence"><%= item.licence_name %></p>
                    <h4 class="card-item__name"><%= item.product_name %></h4>
                    <p class="card-item__price">$ <%= item.price %>.-</p>
                    <p class="card-item__promo"><%= item.dues %> CUOTAS SIN INTERÉS</p>
                  </div>
                </a>
              </article>
            </li>
            <% }) %>
          </ul>
        </section>
        <section class="pagination">
          <ul class="pagination__list">
            <li class="pagination__button">
              <a class="pagination__link" href=""
                ><iconify-icon
                  class="pagination__former"
                  icon="tabler:chevron-left"
                  width="30"
                  height="30"
                ></iconify-icon
              ></a>
            </li>
            <li class="pagination__button">
              <a class="pagination__link" href="">1</a>
            </li>
            <li class="pagination__button">
              <a class="pagination__link" href="">2</a>
            </li>
            <li class="pagination__button">
              <a class="pagination__link" href="">...</a>
            </li>
            <li class="pagination__button">
              <a class="pagination__link" href="">9</a>
            </li>
            <li class="pagination__button">
              <a class="pagination__link" href="">10</a>
            </li>
            <li class="pagination__button">
              <a class="pagination__link" href=""
                ><iconify-icon
                  class="pagination__next"
                  icon="tabler:chevron-right"
                  width="30"
                  height="30"
                ></iconify-icon
              ></a>
            </li>
          </ul>
        </section>
      </section>
    </main>
    <!-- Fin Main -->
    <!-- Inicio Footer -->
    <%- include('../partials/footer.ejs') %>
    <!-- Fin Footer -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  </body>
</html>
